* {
    margin: 0px;
    font-family: sans-serif;
}

/* Header section */

#navbar {
   display: flex;
}

#navbar img {
    width: 120px;
    height: auto;
}

#navbar h3{ /*This will change to a picture later*/
    display: inline-block;
    padding: 8px 0px;
    width: 20vw;
}

#header-links {
    display: flex;
    padding: 10px 10px;
    margin-left: auto;
    align-items: center;
}

#navbar li {
    list-style: none;
    padding: 8px 16px;
}

/* Hero section */

#hero-container {
    padding: 10px 50px;
    color: white;
    background-color: #1f2937;
}

#hero-elements {
    display: flex;
    padding: 50px 0px;
}

#hero-text {
    width: 45vw;
    height: auto;
    padding-right: 30px;
}

#hero-text h1 {
    padding-bottom: 15px;
}

#hero-text p {
    padding-bottom: 15px;
    line-height: 25px;
}

#hero-image {
    width: 55vw;
    height: auto;
}

#hero-image img {
    width: 50vw;
    height: auto;
}

.btn {
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    background-color: #3882f6;
    border-style: none;
}

/* Card section */

#card-container {
    padding-bottom: 80px;
}

#card-container h2 {
    text-align: center;
    padding: 40px;
    font-size: 40px;
}

#cards {
    display: flex;
    padding: 0px 70px;
    justify-content: center;
}

.card {
    padding: 0px 20px; 
}

.card img {
    width: 20vw;
    height: auto;
    border: none;
}

.card p {
    text-align: center;
    font-size: 32px;
    padding: 10px 0px;
    font-weight: bolder;
}

/* Quote section */
#quote p {
    text-align: center;
    font-size:36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

#quote h3 {
    text-align: end;
}

#quote {
    padding: 70px 80px;
    background-color: #e5e7eb;
}

/* Action section */
#action {
    display:flex;
    background-color: #3882f6;
    margin: 70px 80px;
    padding: 40px 80px;
    color: white;
    border-radius: 10px;
}

#call-to-action h2 {
    padding-bottom: 10px;
}

#call-to-action {
    padding-left: 20px;
}

.btn-white {
    border-radius: 20px;
    color: white;
    background-color: #3882f6;
    border-style:solid;
    border-color: white;
    padding: 10px 40px;
}

#button-container {
    display: inline-block;
    text-align: center;
    margin: auto;
}

#footer {
    color: white;
    background-color: #1f2937;
    margin: auto;
    text-align: center;
    padding: 40px 0px;
}

